@model WebApplication2.Models.form1




@using (Html.BeginForm("Delete","My",FormMethod.Post))
            {
                <table>
                    <tr>
                        <th>Id</th>
                        <td style="background-color:red; ">@Html.TextBoxFor(n=>n.id)</td>
                    </tr>
                    <tr>
                        
                            
                        <td colspan="2"><center><input type="submit" value="Delete" /></center></td>
                    </tr>
                </table>
            }

