@model WebApplication2.Models.VelTech

<table border="1">
    <tr>
        <th>ID</th>
        <th>COURSE</th>
        <th>NAME</th>
        <th>YOP</th>
    </tr>
    <tr>
        <td>@Model.id</td>
        <td>@Model.name</td>
        <td>@Model.age</td>
        <td>@Model.dept</td>
    </tr>
</table>
