@model WebApplication2.Models.Register

@using(Html.BeginForm("Delete","Crud",FormMethod.Post))
            {
                <table border="2">
                    <tr>
                        <th>D_ID</th>
                        <td>@Html.TextBoxFor(i=>i.id)</td>
                    </tr>
                    <tr>
                        <td colspan="2"><center><input type="submit" value="Delete" /></center></td>
                    </tr> 
                </table>
            }

