@model List<WebApplication2.Models.Register>

@using(Html.BeginForm("Grid_Show","Crud",FormMethod.Post))
{
    <table>
        <tr>
            <td>ID</td>
            <td>NAME</td>
            <td>DEPT</td>
            <td>YOP</td>
        </tr>
        @foreach (var v in Model)
        {       
            <tr>
                <td>@v.id</td>
                <td>@v.name</td>
                <td>@v.dept</td>
                <td>@v.yop</td>
            </tr>
            
        }
    </table>
}

