@model WebApplication2.Models.Register
<table border="2" width="2">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>AGE</th>
        <th>MAIL ID</th>
        <th>COURSE</th>
    </tr>
    <tr>
        <td>@Model.id</td>
        <td>@Model.name</td>
        <td>@Model.dept</td>
        <td>@Model.yop</td>
    </tr>

</table>

